input {
  margin: 15px auto;
}

.sign-in-container {
  padding: 25px;
  border-radius: 25px;
  background-color: var(--bg-level-1);
  justify-content: space-evenly;

  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  label {
    color: var(--label-fg);
  }
  .sign-in-button-container {
    display: flex;
    button {
      margin: 10px 10px;
    }
  }
}
