.back-to-home {
  position: absolute;
  top: 0;
  left: 0;
}

.auth-container {
  position: relative;
  color: var(--fg);
  h1 {
    text-align: center;
  }
  .nav-buttons .sign-in-nav {
    background-color: var(--bg-level-1);
    color: var(--button-fg);
    position: absolute;
    padding: 20px;
    border: none;
    &.active {
      border-bottom: solid 2px var(--fg);
    }
  }
  .nav-buttons .sign-up-nav {
    background-color: var(--bg-level-1);
    color: var(--button-fg);
    position: absolute;
    padding: 20px;
    left: 100px;
    border: none;
    &.active {
      border-bottom: solid 2px var(--fg);
    }
  }
}
