.auth-container {
  color: var(--fg);
  background-color: var(--bg-level-1);
  max-width: 650px;
  margin: 0 auto;
  border-radius: 25px;
  h1 {
    text-align: center;
  }
  .nav-buttons .sign-in-nav {
    background-color: var(--bg-level-1);
    color: var(--button-fg);
    padding: 20px;
    border: none;
    &.active {
      border-bottom: solid 2px var(--fg);
    }
  }
  .nav-buttons .sign-up-nav {
    background-color: var(--bg-level-1);
    color: var(--button-fg);
    padding: 20px;
    border: none;
    &.active {
      border-bottom: solid 2px var(--fg);
    }
  }
  .sign-up-container,
  .sign-in-container {
    padding: 25px;
  }
}
.sign-in-button-container {
  display: flex;
  width: 100%;
}

.sign-in-with-google-btn {
  .google-sign-in-text {
    display: flex;
    flex-direction: row;
    font-size: 1rem;
    color: #7b7d807a;
    margin-block: 20px;
  }
  .google-sign-in-text:before,
  .google-sign-in-text:after {
    content: '';
    flex: 1 1;
    border-bottom: 1px solid;
    margin: auto;
  }
  .google-sign-in-text:before {
    margin-right: 10px;
  }
  .google-sign-in-text:after {
    margin-left: 10px;
  }
}
