.theme-select-container {
  position: relative;
  select {
    background-color: var(--input-bg);
    color: var(--input-fg);
    border: none;
    border-radius: 12px;
    padding: 10px 0px 10px 35px;
    width: 110px;
    option {
      margin-top: 10%;
    }
  }

  i {
    position: absolute;
    top: 30%;
    left: 9px;
    color: #ffc149;
  }
}
