.calendar-container {
  height: 100vh;
  background-color: var(--bg-level-1);
  width: 290px;
  overflow: hidden;
  padding: 15px;
  position: fixed;
  right: 20px;
  top: 20px;
  overflow-y: auto;
  border-radius: 40px;
  &.hide {
    right: -600px;
  }

  .completed-tasks-header {
    margin: 20px auto;
    color: var(--calendar-text);
  }

  .completed-tasks-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 14px auto;
    padding: 7px 7px;
    align-items: center;
    border-radius: 19px;
    .task-info {
      display: flex;
      align-items: center;
      .undo-icon-container {
        position: relative;
        border-radius: 100%;
        width: 50px;
        height: 50px;
        background: var(--bg);
        i {
          position: absolute;
          font-size: 1.9em;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: var(--fg);
        }
      }
      .task-completed-title,
      .task-completed-category {
        text-decoration: line-through;
        color: #757575;
        padding-left: 10px;
      }
      .task-completed-title {
        font-size: 1.1em;
      }
      .task-completed-category {
        font-size: 0.85em;
      }
    }
  }
}

.react-calendar {
  padding-top: 15px;
  background-color: var(--bg-level-1) !important;
  border: none !important;
}
.react-calendar__tile--active {
  background: var(--fg) !important;
}
.react-calendar__tile:hover {
  background: var(--fg) !important;
}

.react-calendar__month-view__weekdays__weekday {
  color: var(--fg) !important;
  font-size: 14px;
  border: none !important;
}
abbr[data-bs-original-title],
abbr[title] {
  text-decoration: none !important;
  cursor: auto !important;
}

.react-calendar__navigation {
  display: none !important;
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575 !important;
}
.react-calendar__month-view__days__day--weekend {
  color: inherit;
}
.react-calendar__tile {
  max-width: 100%;
  color: var(--calendar-text);
  padding: 4px;
  background: none;
  text-align: center;
  font-size: 14px;
  line-height: normal !important;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
}

@media screen and (max-width: 980px) {
  .calendar-container {
    left: -600px;
  }
}
