.finished-tasks-container {
  background-color: var(--bg);
  padding: 10px;
  border-radius: 40px;
}

.calendar-container {
  height: 100vh;
  background-color: var(--bg-level-1);
  width: 290px;
  overflow: hidden;
  padding: 8px;
  position: fixed;
  right: 20px;
  top: 20px;
  overflow-y: auto;
  border-radius: 40px;
  &.hide {
    right: -600px;
  }

  .completed-tasks-header {
    margin: 20px auto;
    color: var(--calendar-text);
    font-size: 20px;
  }
}

.react-calendar {
  padding-top: 15px;
  background-color: var(--bg-level-1) !important;
  border: none !important;
}
.react-calendar__tile--active {
  background: var(--fg) !important;
  border-radius: 10px;
}
.react-calendar__tile:hover {
  border-radius: 10px;
  background: var(--fg) !important;
}

.react-calendar__month-view__weekdays__weekday {
  color: var(--fg) !important;
  font-size: 14px;
  border: none !important;
}
abbr[data-bs-original-title],
abbr[title] {
  text-decoration: none !important;
  cursor: auto !important;
}

.react-calendar__navigation {
  display: none !important;
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575 !important;
}
.react-calendar__month-view__days__day--weekend {
  color: inherit;
}
.react-calendar__tile {
  max-width: 100%;
  color: var(--calendar-text);
  padding: 10px;
  background: none;
  text-align: center;
  font-size: 14px;
  line-height: normal !important;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
}

@media screen and (max-width: 980px) {
  .calendar-container {
    left: -600px;
  }
}
