input {
  margin: 15px auto;
}

.sign-up-container {
  padding: 25px;
  border-radius: 25px;
  background-color: var(--bg-level-1);
  justify-content: space-evenly;

  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  label {
    color: var(--label-fg);
  }
}
