.loading-container {
  margin: 10px auto;
  .loading {
    border-radius: 50%;
    width: 65px;
    height: 65px;
    border: 0.25rem solid rgba(rgb(180, 180, 180), 0.2);
    border-top-color: var(--fg);
    animation: spin 1s infinite linear;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
