.sidebar::-webkit-scrollbar {
  display: none;
}
.sidebar {
  -ms-overflow-style: none;
  scrollbar-width: none;
  height: 100vh;
  background-color: var(--bg-level-1);
  width: 290px;
  overflow: hidden;
  position: fixed;
  left: 20px;
  top: 20px;
  overflow-y: auto;
  border-radius: 40px;
  &.hide {
    left: -600px;
  }
  .sidebar-header {
    display: flex;
    justify-content: end;

    img {
      width: 5rem;
    }
  }
  .sidebar-navs {
    list-style: none;
    display: flex;
    flex-direction: column;
    li:nth-child(1) {
      padding-left: 14px;
    }
    li:last-child {
      margin-top: 100%;
    }

    .nav-link {
      &.sign-out {
        color: rgba(226, 77, 23, 0.886);
      }
    }
    li a {
      display: flex;
      color: #a2a7af;
      text-decoration: none;
      margin: 30px auto;
      align-items: center;
      &.active {
        color: #5c5cae;
      }
    }
    li i {
      margin-right: 13px;
    }
  }
  // .toggle-sidebar {
  //   position: absolute;
  //   right: 20px;
  //   top: 0;

  // }
}

@media screen and (max-width: 980px) {
  .sidebar {
    left: -300px;
  }
}
